<div class="container" *ngIf="products$ | async as products">
  <h1
    class="display-2 text-center text-md-start"
    *ngIf="products.length > 0; else noProducts"
  >
    Products: {{ products.length }}
  </h1>
  <ng-template #noProducts>
    <h1
      class="display-2 text-center text-md-start"
      *ngIf="products.length === 0"
    >
      No products found
    </h1></ng-template
  >

  <div class="row g-4 m-0 p-0 justify-content-center justify-content-sm-start">
    <div
      class="col-11 col-sm-6 col-md-4 d-flex"
      *ngFor="let product of products"
    >
      <mat-card class="product-card d-flex flex-column">
        <mat-card-header>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle class="py-2">{{
            product.category
          }}</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          class="product-image"
          [src]="product.image"
          alt="{{ product.name }}"
        />
        <mat-card-content class="flex-grow-1">
          <p class="py-3 fw-bold fs-3">{{ product.price | currency }}</p>
        </mat-card-content>
        <mat-card-actions class="mt-auto">
          <button mat-raised-button color="primary">
            Buy <mat-icon style="font-size: 14px">shopping_cart</mat-icon>
          </button>
          <button
            mat-raised-button
            class="ms-3"
            [routerLink]="['/product', product._id]"
          >
            Product info
          </button>

          <button
            mat-icon-button
            class="ms-auto"
            (click)="openEditDialog(product)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            class="ms-auto"
            (click)="deleteProduct(product._id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
